
@model ASPToep.Models.GameViewModel
<body>
    <partial name="Razorpages/Sidebar" />
    <main>

        <div class="Container gameContainer managementContainer">
            <div class="gameInformation">
                <h1> Game Overview </h1><br /><br />
                <table>
                    <tr>
                        <td>Amount of Players </td>
                        <td> @Model.playerList.Count</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="Container gameContainer selectionContainer">
            <div class="gameSelection">
                <h1> Players </h1><br /><br />
                <ul id="ulpref">
                    @foreach (var player in Model.playerList)
                    {
                        <li id="@player.Id">
                            <label id="id" class="playerId">@player.Id</label>
                            <label id="username" class="playerId">@player.Username</label>
                            <label id="knocked" class="playerId">@player.Knocked</label>
                            <label id="score" class="playerPoints">@player.Score</label>

                            <button onclick="PlayerWin(this)" value="@player.Id" class="playerWonButton">Winner</button>

                            <button onclick="PlayerKnock(this)"class="playerKnockButton" value="@player.Id" >Knock</button>

                            <hr />
                        </li>
                    }
                </ul>
            </div>

            <button id="btn3" asp-action="Game/CreateGame" class="savePlayerButton">
                Stop Game
            </button>
        </div>

        <script>
            //Todo Finish Ajax Method
            function PlayerWin(btn) {
                var playerList = [];

                var liTag = document.getElementsByTagName("li");
                for (var i = 0; i < liTag.length; i++) {
                    if (liTag[i].parentNode.id == 'ulpref') {
                        player = {};
                        player.Id = parseInt(liTag[i].querySelector('#id').textContent);
                        player.Username = liTag[i].querySelector('#username').textContent;
                        player.Score = parseInt(liTag[i].querySelector('#score').textContent);
                        player.Knocked = parseInt(liTag[i].querySelector('#knocked').textContent);

                        playerList.push(player);
                    }
                }

                $.ajax({
                    type: "POST",
                    url: '/Game/PlayerWonRound',
                    data:
                    {
                        winPlayer: $(btn).val(),
                        json: JSON.stringify({ 'list': playerList })
                    },
                });

            }

            function PlayerKnock(btn) {
                $.ajax({
                    url: '/Game/PlayerKnocks',
                    data: { playerId: $(btn).val() },
                    type: "POST",
                })
            }
        </script>
    </main>
</body>

@section Stylesheets{
    <link rel="stylesheet" href="~/css/Game.css" />
}
@section Scripts{
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/js/Game.js"></script>
    <script src="~/js/Dropdown.js"></script>
    <script src="~/js/Sidebar.js"></script>
}