
@model ASPToep.Models.GameViewModel
<body>
    <partial name="Razorpages/Sidebar" />
    <main>
        <!--   MAIN PREFERENCES INFORMATION   -->
        <div class="Container gameContainer managementContainer">
            <div class="gameInformation">
                <h1> Game Overview </h1><br /><br />
                <table>
                    <tr>
                        <td>Deployable hours: </td>
                        <td> 450</td>
                    </tr>
                    <tr>
                        <td>Hours deployed: </td>
                        <td> 120</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--   PREFERENCES SELECTION  -->
        <div class="Container gameContainer selectionContainer">
            <div class="gameSelection">
                <h1> Players </h1><br /><br />
                <ul id="ulpref">
                    @*@{var index = 1;}
                        @foreach (var preference in (Model.Where(i => i.priority != 0)))
                        {
                            string name = "preferenceIndication" + index;
                            var semester = preference.semester;
                            var term = preference.period;
                            var subject = preference.subject;
                            var assignment = preference.assignment;*@

                    @foreach (var player in Model.playerList)
                    {
                        <span>@player.Username</span>
                    }
                    <li id="preferenceLi">
                        <label class="playerId">Player 1</label>
                        <div class="dropdown">
                            <div class="select">
                                <span id="termSelect">Select Card</span>
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <input type="hidden" name="card">
                            <ul class="dropdown-menu">
                                <li id="per1">Card 1</li>
                                <li id="per2">Card 2</li>
                            </ul>
                        </div>

                        <button class="playerWonButton">Winner</button>

                        <button class="playerKnockButton">Knock</button>

                        <label class="playerPoints">10 Points</label>

                        <hr />
                    </li>
                    @*index++;
                        }*@
                </ul>
            </div>

            <button id="btn3" onclick="saveAllPreferences()" class="savePlayerButton">
                Stop Game
            </button>

            @*<script>

                    //SAVE-OUTPUT ALL PREFERENCES
                    function saveAllPreferences() {
                        var datastream = [];
                        $("#ulpref #preferenceLi").each(function (index) {
                            var semspan = $(this).find('span#semspan').text();
                            var perspan = $(this).find('span#perspan').text();
                            var subspan = $(this).find('span#subspan').text();
                            var assspan = $(this).find('span#assspan').text();

                            switch ($(this).find('input[type=radio]:checked').val()) {
                                case 'pref1':
                                    var radioOutput = '1';
                                    break;
                                case 'pref2':
                                    var radioOutput = '2';
                                    break;
                                case 'pref3':
                                    var radioOutput = '3';
                                    break;
                                case 'pref4':
                                    var radioOutput = '4';
                                    break;
                                default:
                                    var radioOutput = '0';
                                    break;
                            }
                            datastream.push(subspan + ";" + assspan + ";" + radioOutput);
                        });

                        $.ajax({
                            url: '@Url.Action("SaveChanges", "Preferences")',
                            data: { datastream: datastream },
                            type: "POST",
                            succes: function () {
                                alert('Created');
                            }
                        });
                        console.log(datastream);
                    }

                    //GET ARRAY OF SUBJECTS
                    function SubjectArray() {
                        @{ List<string> subjects = new List<string>();}
                        @foreach (var item in Model.Where(i => i.assignment == "All"))
                        {
                            subjects.Add(item.subject);
                        }
                        var yourJavaScriptArray = @Html.Raw(Json.Serialize(subjects));
                        return yourJavaScriptArray;
                    }

                    //GET ARRAY OF ASSIGNMENTS
                    function AssignmentArray() {
                        @{ List<string> assignments = new List<string>();}
                        @foreach (var item in Model.Where(i => i.assignment != "All"))
                        {
                            assignments.Add(item.assignment);
                        }
                        var yourJavaScriptArray = @Html.Raw(Json.Serialize(assignments));
                        return yourJavaScriptArray;
                    }

                    //GET ARRAY OF SEMESTERS
                    function SemesterArray() {
                        @{ List<string> semesters = new List<string>();}
                        @foreach (var item in Model)
                        {
                            semesters.Add("Semester " + item.semester);
                        }
                        var yourJavaScriptArray = @Html.Raw(Json.Serialize(semesters.Distinct()));
                        return yourJavaScriptArray;
                    }

                    //GET ARRAY OF TERMS
                    function TermArray() {
                        @{ List<string> terms = new List<string>();}
                        @foreach (var item in Model)
                         {
                            terms.Add("Term " + item.period);
                         }
                        var yourJavaScriptArray = @Html.Raw(Json.Serialize(terms.Distinct()));
                        return yourJavaScriptArray;
                    }

                </script>*@
        </div>
    </main>
</body>

@section Stylesheets{
    <link rel="stylesheet" href="~/css/Game.css" />
}
@section Scripts{
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/js/Game.js"></script>
    <script src="~/js/Dropdown.js"></script>
    <script src="~/js/Sidebar.js"></script>
}